---
import AppHead from "../../components/AppHead.astro";
import Header from "../../components/Header.astro";
import HeroSection from "../../components/HeroSection.astro";
import IconGrid from "../../components/IconGrid.astro";
import LandingPageFooter from "../../components/LandingPageFooter.astro";

import newStreak from "../../images/prime-not-prime/newStreak.png";
import appIcon from "../../images/prime-not-prime/appIcon.png";
import downloadOnAppStoreBlack from "../../images/misc/download-on-app-store-black.svg";
import apps from "../../json/apps.json";

const primeNotPrime = apps.find((app) => app.title === "Prime Not Prime");
const appLink = primeNotPrime.appId ? `https://apps.apple.com/us/app/id${primeNotPrime.appId}` : null;

const iconGridItems = [
  {
    icon: "bi:heart-fill",
    title: "Prime Time Steak!",
    description: "Compete to see how long you can keep your streak alive.",
  },
  {
    icon: "bi:arrow-right-circle-fill",
    title: "Swipe Right, All Night!",
    description:
      "Test your brain, build streaks, and master the art of spotting prime numbers.",
  },
  {
    icon: "bi:arrow-left-circle-fill",
    title: "Not Prime? Not Fine.",
    description:
      "Swipe left to discard the rest and stay on the path to prime mastery!",
  },
];
---

<html lang="en">
  <AppHead title="Prime Not Prime" appId={primeNotPrime.appId} />
  <body class="text-white" style="background-color: #0a0117;">
    <Header
      title={primeNotPrime.title}
      appIcon={appIcon}
      appLink={appLink}
      detailsPageLink="/prime-not-prime"
    />
    <HeroSection
      heroImage={newStreak}
      appIcon={appIcon}
      title="Prime Not Prime"
      tagline="The number swiping game!"
      appLink={appLink}
      downloadButton={downloadOnAppStoreBlack}
    />
    <IconGrid items={iconGridItems} />
    <LandingPageFooter bgColor="#0a0117" />
  </body>
</html>
