---
import Header from "../../components/Header.astro";
import HeroSection from "../../components/HeroSection.astro";
import IconGrid from "../../components/IconGrid.astro";
import LandingPageFooter from "../../components/LandingPageFooter.astro";

import heroImage from "../../images/plate-o/your_adventures_await.png";
import appIcon from "../../images/plate-o/appIconLight.png";
import downloadOnAppStoreBlack from "../../images/misc/download-on-app-store-black.svg";
import apps from "../../json/apps.json";

const plateO = apps.find((app) => app.title === "Plate-O");

const iconGridItems = [
  {
    icon: "bi:map-fill",
    title: "Explore the Map!",
    description:
      "Track your license plate collection across the country, one state at a time.",
  },
  {
    icon: "bi:compass-fill",
    title: "Challenge Yourself!",
    description:
      "Create trips, spot plates, and see how many you can collect in one journey.",
  },
  {
    icon: "bi:people-fill",
    title: "Share the Fun!",
    description:
      "Show off your collection, share trips, and compete with friends to complete the map!",
  },
];
---

<html lang="en">
  <head>
    <title>{plateO.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-itunes-app" content="app-id=6739163428" />
  </head>
  <body class="text-white" style="background-color: #0a0117;">
    <Header
      title={plateO.title}
      appIcon={appIcon}
      appLink={plateO.getAppLink}
    />
    <HeroSection
      heroImage={heroImage}
      appIcon={appIcon}
      title={plateO.title}
      tagline="The license plate game"
      appLink={plateO.getAppLink}
      downloadButton={downloadOnAppStoreBlack}
    />
    <IconGrid items={iconGridItems} />
    <LandingPageFooter bgColor="#0a0117" />
  </body>
</html>
