---
import AppHead from "../../components/AppHead.astro";
import Header from "../../components/Header.astro";
import HeroSection from "../../components/HeroSection.astro";
import IconGrid from "../../components/IconGrid.astro";
import LandingPageFooter from "../../components/LandingPageFooter.astro";

import heroImage from "../../images/car-identifier/Corvette.png";
import appIcon from "../../images/car-identifier/AppIcon_512.png";
import downloadOnAppStoreBlack from "../../images/misc/download-on-app-store-black.svg";
import apps from "../../json/apps.json";

const carIdentifier = apps.find(
  (app) => app.title === "Car Identifier: AI Scanner"
);
const appLink = carIdentifier.appId ? `https://apps.apple.com/us/app/id${carIdentifier.appId}` : null;

const iconGridItems = [
  {
    icon: "bi:camera-fill",
    title: "AI-Powered Vehicle Scanning",
    description:
      "Quickly identify cars, trucks, and motorcycles from photos with cutting-edge AI.",
  },
  {
    icon: "bi:clock-history",
    title: "History View",
    description:
      "Easily access your past scans and revisit vehicle identifications anytime.",
  },
  {
    icon: "bi:info-circle-fill",
    title: "Detailed Vehicle Info",
    description:
      "Learn about make, model, year, and features for every vehicle you scan.",
  },
];
---

<html lang="en">
  <AppHead title={carIdentifier.title} appId={carIdentifier.appId} />
  <body class="text-[#95C5DE] font-sans" style="background-color: #0a0117;">
    <Header
      title={carIdentifier.title}
      appIcon={appIcon}
      appLink={appLink}
      style="color: #95C5DE"
    />
    <HeroSection
      heroImage={heroImage}
      appIcon={appIcon}
      title={carIdentifier.title}
      tagline="Instant AI-powered car, truck & motorcycle ID."
      appLink={appLink}
      downloadButton={downloadOnAppStoreBlack}
    />
    <IconGrid items={iconGridItems} />
    <LandingPageFooter bgColor="#273C65" />
  </body>
</html>
