---
import { Image } from "astro:assets";
import apps from "../json/apps.json";

const heroImages = import.meta.glob<{ default: ImageMetadata }>(
  "../images/**/*.png"
);
---

<div class="px-6 py-16 bg-gray-100 dark:bg-neutral-950">
  <div class="text-center mx-auto">
    <div class="max-w-xl text-center mx-auto">
      <h1 class="mt-10 mb-5 text-4xl font-extrabold leading-none">Projects</h1>

      <p class="text-gray-600 dark:text-gray-400">
        Below you can find the most notable apps that I have worked on. These
        include my companies applications, contracting projects, as well as my
        own personal apps. Most of them can still be found on the app store
        today.
      </p>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mx-auto gap-x-6 gap-y-[80px] mt-14"
      style={{ maxWidth: "1500px" }}
    >
      {
        apps.map((app) => {
          const heroImageSrc = heroImages[app.heroImage](); // Resolve dynamic path

          return (
            <div>
              <a href={app.slug} class="block">
                <Image
                  src={heroImageSrc}
                  alt={app.title}
                  class="w-full h-48 object-contain mb-4 h-auto rounded-lg"
                />
                <div class="text-left">
                  <h2 class="text-lg font-bold">{app.title}</h2>
                  <p class="text-gray-600 dark:text-gray-400">
                    {app.shortDescription}
                  </p>
                </div>
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
