---
import { Image } from "astro:assets";

const { title, appIcon, appLink, offerCodesLink, detailsPageLink } = Astro.props;
---

<header class="p-6" style="background-color: #2e2836;">
  <div class="flex items-center justify-between mx-auto max-w-6xl">
    <a href={detailsPageLink} class="flex items-center hover:opacity-80 transition-opacity">
      <Image
        src={appIcon}
        alt="App Icon"
        class="h-12 w-12 mr-4 rounded-[20%]"
      />
      <h1 class="text-2xl font-bold">{title}</h1>
    </a>
    <div class="flex items-center gap-4">
      {offerCodesLink && (
        <a href={offerCodesLink} class="text-lg text-purple-300 hover:text-purple-400">
          Offer Codes
        </a>
      )}
      <a href={appLink} class="text-lg text-purple-300 hover:text-purple-400"
        >App Details</a
      >
    </div>
  </div>
</header>
