---
import { Icon } from 'astro-icon/components'
import footerLinks from '../json/footer_icons.json';

// Helper function
const getCurrentYear = () => {
  return new Date().getFullYear();
};

// Calculate the grid columns class
const gridColsClass = `grid-cols-${footerLinks.length > 1 ? footerLinks.length : 1}`;
---

<footer class="bg-neutral-950 py-6 mt-10">
  <div class={`max-w-xs md:max-w-md lg:max-w-lg mx-auto grid ${gridColsClass} justify-center justify-items-center gap-[max(5vw,40px)] pb-4`}>
    {footerLinks.map(link => (
      <a href={link.href} key={link.name}>
        <Icon name={`bi:${link.name}`} class="text-white text-3xl" />
      </a>
    ))}
  </div>
  <p class="text-white text-center text-xs opacity-70">
    Copyright © Richard Witherspoon {getCurrentYear()}
  </p>
</footer>